footer {
  padding: 1rem 0.5rem;
  // color: #486ff1;
  // background-color: #ffffff;
  // font-weight: 500;
  background-color: #F4F3F6;

  p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: .5rem;
  }
}
