<mat-toolbar class="fixed-top centered-container">
    <!-- <a [routerLink]="['', 'en']" class="text-decoration-none fs-4 ps-2">Event Reporting</a> -->
    <a [routerLink]="['complaint-form']" class="text-decoration-none fs-4 ps-2">Event Reporting</a>
    <span class="toolbar-spacer"></span>
    <!-- <img alt="Janssen logo" src="./assets/logo.png" /> -->
    <div class="d-flex gap-3" *ngIf="selectedLanguage !== null">
      <button mat-stroked-button [routerLink]="['']">{{ selectedLanguage }} <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon></button>
      <button mat-raised-button color="primary">FAQ</button>
    </div>
</mat-toolbar>
