<div>
    <h3>The batch identifier can be found in the pink cross-hatched section below.</h3>
</div>

<div class="image-wrapper">
    <img style="max-width: 500px;" src="./assets/simponi-package.png" />
</div>

<div>
    <p>If you no longer have the packaging or product, or are unable to locate the batch identifier, it's okay to leave this
        field blank.
    </p>
</div>

<div style="margin-top: 10px">
    <button type="button" style="float: right" mat-raised-button color="primary" (click)="ok()">Continue</button>
</div>