

<ng-container [formGroup]="localeForm">
  <div class="d-flex flex-column w-100 h-100 gap-2">
    <h1 mat-dialog-title class="border-bottom">Event Reporting</h1>
    <div mat-dialog-content class="mh-100">
      <h3>Please select the following to continue:</h3>
        <app-locale-selector></app-locale-selector>
    </div>
    <div mat-dialog-actions class="border-top justify-content-end">
        <button mat-stroked-button mat-dialog-close cdkFocusInitial [disabled]="!localeForm.valid" (click)="onSubmit()" class="basic-btn">Save</button>
    </div>
  </div>
</ng-container>
