@import "variables";

:host {
  font-family: $default-font-family;
  font-size: $medium-font-size;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: $default-font-family;
}

html,
body {
  height: 100%;
  // background-color: $bg-color;
  background-color: #F4F3F6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.bg-color {
  background-color: $bg-color;
}

.default-fontSize {
  font-family: $default-font-family;
}

.primary-icon-buttoon {
  flex-direction: row-reverse;
  gap: 1rem;
  align-items: center;

  mat-icon {
    margin-top: 5px;
  }
}

.w-7x {
  width: 700px;
}

.centered-container {
  max-width: 1440px !important;
  width: 100%;
  margin: 0 auto;
}

.bgdrop {
  backdrop-filter: blur(8px);
}

.primary-btn {
  background-color: $primary-color !important;

  &:hover {
    background-color: $hover-color !important;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;

    &:hover {
      background-color: rgba(0, 0, 0, 0.12) !important;
    }
  }
}
