<div class="header">
    <span class="header-title">Looking to report an issue?</span>
    <img class="header-logo" alt="Janssen logo" src="./assets/logo.png" />
</div>

<mat-divider></mat-divider>

<div>
    <p>
        Whether you are a patient, caregiver or healthcare professional, it is important to report adverse events and
        product issues for
        Janssen products.
        <br />
        If you have a medical question/general enquiry on a Janssen product, please visit
        <a
            href="https://www.janssenmedicalcloud.com/en-us/report-an-adverse-event">https://www.janssenmedicalcloud.com/en-us/report-an-adverse-event</a>
        and choose your location.
    </p>
    <p>This website can be utilized for reporting product quality complaints for any Janssen product. If you are
        involved in
        a
        clinical trial, adverse events should be reported to your coordinating study site.</p>
</div>

<div>
    <button type="button" style="float: right" mat-raised-button color="primary" (click)="ok()">Continue</button>
</div>