<form [formGroup]="localeForm" class="basic-container w-100 h-100 p-5">
    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
      <h1 class="fw-semibold">Please choose your preferred language </h1>
      <p class="fst-italic border-top pt-3 text-center" style="width: 40%">Modifying the selected country while filling out the form will result in a re-entry of all report information.</p>
      <div class="d-flex flex-column w-50 p-4" >
        <ng-container formGroupName="locale">
          <mat-form-field appearance="outline">
            <mat-label>Select Language</mat-label>
            <mat-select formControlName="language" name="language" (valueChange)="selectLanguage($event)">
              <mat-option *ngFor="let language of languages" [value]="language.language">
                {{ language.language }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </div>

    <!-- <form [formGroup]="productFormGroup">
      <div>
        <h2>Which best describes the problem?</h2>

        <div class="d-flex gap-4 mt-4">
          <div class="bg-white custom-btn-check" style="width: 320px">
            <input
              type="radio"
              name="productQualityComplaint"
              id="option1"
              [value]="false"
              formControlName="productQualityComplaint"
            />
            <label class="custom-input" for="option1">
              <h3 class="mt-3 mb-3">Medical Concern</h3>
              <div class="sub-text">
                <p>
                  The issue has affected or risked health. Examples could
                  include:
                </p>
                <ul>
                  <li>Immediate danger</li>
                  <li>Allergic reactions</li>
                  <li>Unexpected side-effects</li>
                </ul>
              </div>
            </label>
          </div>

          <div class="bg-white custom-btn-check" style="width: 320px">
            <input
              type="radio"
              name="productQualityComplaint"
              id="option2"
              [value]="true"
              formControlName="productQualityComplaint"
            />
            <label class="custom-input" for="option2">
              <h3 class="mt-3 mb-3">Product Quality Concern</h3>
              <div class="sub-text">
                <p>
                  The issue does not present an immediate risk to health.
                  Examples include:
                </p>
                <ul>
                  <li>Label misprints</li>
                  <li>Device malfunctions</li>
                  <li>Suspicion of counterfeit</li>
                </ul>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="productQualityComplaint === false" class="mt-4">
        <p style="font-weight: bold; font-size: larger">
          If the concern presents an immediate risk to life or health, please
          call 911.
        </p>
        <p style="font-size: medium">
          Otherwise, please reach out to us over the phone at
          <a href="tel:800-526-7736">800-JANSSEN (800-526-7736)</a>
          Monday–Friday, 9:00 AM–8:00 PM ET
        </p>
      </div>

      <ng-container *ngIf="productQualityComplaint === true">
        <div class="mt-4 d-flex justify-content-end w-7x">
          <button
            mat-raised-button
            color="primary"
            class="primary-icon-buttoon"
            [routerLink]="['/complaint-form']"
          >
            Continue <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </ng-container>
    </form> -->

    <div class="mt-2 d-flex justify-content-end w-100">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/complaint-form']" [disabled]="!localeForm.valid"
      >
        Continue <mat-icon iconPositionEnd>arrow_forward</mat-icon>
      </button>
    </div>
  </form>

