:host {
  display: block;
  height: 100%;
}

h2 {
  font-size: 26px;
  // width: 300px;
}

.custom-btn-check {
  input {
    display: none;
  }

  label {
    position: relative;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    font-size: 26px;
    text-align: center;
    height: 250px;
    display: block;
    cursor: pointer;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 8px #ddd;

    &:hover {
      background-color: #f7f7f7;
      box-shadow: 0 1px 8px 1px rgba(0,0,0,.2);
    }
  }

  input:checked + label {
    border: 3px solid #3a7bf9;
    background-color: #fff;
  }

  input:checked + label:after {
    content: "\2713";
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #3a7bf9;
    border-radius: 0 10px 0 10px;
    z-index: 999;
    position: absolute;
    top: -3px;
    right: -2px;
    color: #fff;
  }
}

.custom-input {
  h3 {
    font-weight: bold;
    color: #000;
    text-align: left;
    margin: 0 auto;
    width: 90%;
    font-size: 18px;
  }

  .sub-text {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
  }

  p {
    font-weight: 100;
    color: #000;
    text-align: left;
  }

  ul {
    // list-style: none;
    text-align: left;
    padding: 0;
    padding-left: 1rem;

    li {
      color: #000;
      line-height: 1.5rem;
    }
  }
}
